.vertx
.vertx/**
nbactions.xml
target
target/**
.idea
.idea/**
.settings
.settings/**
.classpath
.project
distributed-chat-service.iml
src/main/resources/vertx-apex-js
src/main/resources/vertx-js
src/main/resources/vertx-apex-js/**
src/main/resources/vertx-js/**